:root {
  font-family: 'Figtree', 'Figtree Fallback', serif;
  font-size: 1rem;
  line-height: 1.5rem;
	font-weight: 400;

	background-color: white;
	color: rgb(15 23 41);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	min-height: 100vh;
}

#app {
	width: 100%;
	text-align: center;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.username-input-container {
	display: flex;
}

.username-input-container input {
  padding: 0.5rem;
}

.username-input-container div {
	display: flex;
	align-items: start;
	flex-direction: column;
}

.brier-score {
	display: inline-block;
}

.market {
  padding: 0.5rem;
}
.market:hover {
	background-color: rgb(224 231 255);
}

.market a {
  text-decoration: none;
	color: rgb(15 23 41);
}

p {
	margin: 0;
}

footer {
	margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: rgb(15 23 41);
    color: white;

		.market:hover {
			background-color: rgb(49 46 129);
		}

		.market a {
			color: white;
		}
	}
}

@media (max-width: 639px) {
	#app {
		margin: 0.5rem;
	}
	.username-input-container {
		flex-direction: column;
	}
	.brier-score {
		margin-left: 0.5rem;
		flex-grow: 1;
	}
	.username-input-container div {
		flex-direction: row;
	}
}