:root {
  font-family: 'Figtree', 'Figtree Fallback', serif;
  font-size: 1rem;
  line-height: 1.5rem;
	font-weight: 400;

	background-color: white;
	color: rgb(15 23 41);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	min-height: 100vh;
}

#app {
	max-width: 95%;
	margin: 0 auto;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}


@media (max-width: 639px) {
	#app {
		margin: 2rem;
	}
}

.username-input-container input {
  padding: 0.5rem;
}

.market {
  padding: 0.5rem;
}
.market:hover {
	background-color: rgb(224 231 255);
}

.market a {
  text-decoration: none;
	color: rgb(15 23 41);
}

button {
  padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: rgb(15 23 41);
    color: white;

		.market:hover {
			background-color: rgb(49 46 129);
		}

		.market a {
			color: white;
		}
	}
}
